{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "rules": {
        "import/no-cycle":"off"
    },
    "parserOptions": {
          "project": "./tsconfig.json"
    },
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
        "airbnb",
         "airbnb-typescript"
    ]
  }